<!-- footer -->

<div class="bg-light p-5 text-center footer">
    <h5>Created by rlozl</h5>
    <h6>📞 010 - 2222 - 2222</h6>
    <button class="btn btn-outline-primary">고객센터</button>
    <button class="btn btn-outline-success">오시는 길</button>
</div>

</body>

</html>