{{> /layout/header}}

<!-- 글쓰기 -->
<div class="container p-5">

    <div class="card">
        <div class="card-header">글쓰기 화면</div>
        <div class="card-body">

            <!-- 요청을 하면 localhost:8080/board/save POST로 요청됨-->
            <!-- title=제목1 & content=내용1 -->
            <!-- action에 걸린 주소를 엔드포인트라고 함 -->
            <form action="/board/save" method="post" enctype="application/x-www-form-urlencoded">
                <!-- form 태그의 method는 기본값이 get임 -->
                <div class="mb-3">
                    <label for="title" class="form-label ">제목</label>
                    <input type="text" value="제목1" class="form-control" id="title" placeholder="제목을 입력해주세요"
                        name="title">
                </div>
                <label class="comment mb-2" for="comment">내용</label>
                <textarea class="form-control mb-4" rows="5" id="comment" name="content" placeholder="내용을 입력해주세요">내용1
                </textarea>
                <button type="submit" class="btn btn-primary">글쓰기</button>
                <!-- "form" 태그 안에 있는 "input" 태그안에 있는 모든 것을 전송-->
            </form>
        </div>
    </div>

</div>

{{> /layout/footer}}